@model FoodCalculator.Models.CategoryViewModel

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Add product</h3>

<div class="form">
    @if (TempData["Message"] != null)
    {
        <p class="alert alert-success" role="alert">@TempData["Message"]</p>
    }

        @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })

        @using (Html.BeginForm("AddProduct", "Home", FormMethod.Post))
        {
                <div class="form-group">
                    @Html.TextBoxFor(x => x.NewProduct.ProductName, new { @class = "input-md form-control", placeholder = "Product name" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.NewProduct.ProductName2, new { @class = "input-md form-control", placeholder = "Product name 2" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.NewProduct.Calories, new { @class = "input-md form-control", placeholder = "Calories" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.NewProduct.Protein, new { @class = "input-md form-control", placeholder = "Protein" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.NewProduct.Fat, new { @class = "input-md form-control", placeholder = "Fat" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.NewProduct.Carbohydrates, new { @class = "input-md form-control", placeholder = "Carbohydrates" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.NewProduct.Sugar, new { @class = "input-md form-control", placeholder = "Sugar" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.NewProduct.Salt, new { @class = "input-md  form-control", placeholder = "Salt" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.NewProduct.Fiber, new { @class = "input-md form-control", placeholder = "Fiber" })
                </div>
                <div class="form-group">
                    @if (Model != null)
                    {
                        @Html.DropDownListFor(x => x.NewProduct.CategoryID, Model.CategoriesList, "Select category",
                            new { @class = "form-control" })
                    }
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-large"> Add product </button>
                </div>
        }
</div>